@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Lexend:wght@600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f4f3f2;
}
